
    body{
      margin: 0;
      width: 1430px;
      height:500px;
      
    }
    .display{
    background-color: white ;
    border-radius: 0;
    text-align: right;
    }
    #main{
      text-align: center;
    }
    #img{
      position: relative;
    }
		table{
      background-image: url('grass1.gif');
			color: black;
      border: 3px solid;
      padding: 10px;
      vertical-align: center;
      text-align: center;
      font-size: 50pt;
      position: absolute;
      top: 10%;
      left:30%;
      border-spacing: 10px;
		}
		tr{
			border: double;
		}
		td{
			border: solid;
      background: #99ff66;
      font-size: 25px;
      padding: 30px;
      width: 30px;
      height: 20px;
      border-radius: 15px;
		}
    /*td:hover { 
    background-color: blue;
     }*/
    body{
      font-style: italic;
    }
    #seven:hover{
      background-image: url('seven.jpg');
      background-size:100px 90px ;
    }
    #eigth:hover{
      background-image: url('eigth.jpeg');
      background-size:120px 90px;
    }
    #nine:hover{
      background-image: url('nine.jpeg');
      background-size: 100px 90px;
    }
    #clr:hover{
      background-image: url('ten.jpeg');
      background-size:80px 90px;
    }
    #one:hover{
      background-image: url('six.jpeg');
      background-size:80px 90px;
    }
    #two:hover{
      background-image: url('five.jpeg');
      background-size:80px 90px;
    }
    #three:hover{
      background-image: url('four.jpeg');
      background-size:80px 90px;
    }
    #four:hover{
      background-image: url('slash.jpeg');
      background-size:80px 90px;
    }
    #five:hover{
      background-image: url('one.jpeg');
      background-size:80px 90px;
    }
    #six:hover{
      background-image: url('three.jpeg');
      background-size:80px 90px;
    }
    #zero:hover{
      background-image: url('two.jpeg');
      background-size:80px 90px;
    }#plus:hover{
      background-image: url('plus.jpeg');
      background-size:80px 90px;
    }#minus:hover{
      background-image: url('minus.jpeg');
      background-size:80px 90px;
    }
    #avg:hover{
      background-image: url('avg1.jpeg');
      background-size:100px 90px;
    }
    #clear:hover{
      background-image: url('clear.jpeg');
      background-size:80px 90px;
    }
    #dev:hover{
      background-image: url('dev.jpeg');
      background-size:80px 90px;
    }
    #multiply:hover{
      background-image: url('multuply.jpeg');
      background-size:80px 90px;
    }
    #percent:hover{
      background-image: url('percent.jpeg');
      background-size:80px 90px;
    }
    #decimal:hover{
      background-image: url('decimal.jpeg');
      background-size:80px 90px;
    }
    #sum:hover{
      background-image: url('sum.jpeg');
      background-size:80px 90px;
	</style>